<!DOCTYPE html>
<html lang="pt-BR">

<%- include('./includes/head.ejs') %>

<body>

  <section class="container">
    <h1>  

      <%if(typeof title !=='undefined' ) {%>
        <%= valLocal.title %>
      <%}%>
    </h1>


    <form action="/" method="post">
  
      <input type="text" name="cliente" placeholder="Cliente">
      <button>Submit</button>
    </form>
  </section>

  <%- include('./includes/footer.ejs') %>